
.comment-section {
    background-color: rgba(204,204,204,.2);
    padding: 12px;
}

.comment-form {
    display: flex;
    flex-direction: column;
}

.comment-form > textarea {
    border: .15rem solid #ccc;
    resize: none;
    width: 97.5%; 
    min-height: 58.7812px;
    padding: 4px;
    margin-bottom: 10px;

}

.comment-div {
    padding-right: 12px;
    margin-right: 20px;
    margin-left: 20px;
}

.comment-button {
    margin-bottom: 10px;
}

.comment-list {
    display: flex;
    flex-direction: column;
}

.comment-list > li {
    border-top: 1px solid #99a7ee;
    padding: 24px 0px 0px;
    margin: 16px 0px 0px;
}

.comment-username {
    font-weight: 600;
    padding-bottom: 25px;
}

.comment-content {
    margin-top: 15px;
    margin-bottom: 15px;
}

.comment-delete {
    margin-top: 10px;
    border: none;
    background-color: inherit;
}

.comment-interaction {
    position: relative;
    display: flex;
    justify-content: space-between;
}