.homepage {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homepage-title {
    letter-spacing: 2px;
    font-size: 75px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.chart-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.chart-container {
    display: flex;
    width: 90vh;
    min-height: 900px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
.chart-jokes {
    height: 74px;
    width: 850px;
    display: grid;
    grid-template-columns: 9% 13% 43% 43%;
    align-items: center;
    border-bottom: 0.15rem solid rgb(233, 233, 233);
}

a {
    text-decoration: none;
}

.chart-element {
    font-size: 25px;
    color: black;
    text-overflow: ellipsis;
}

.homepage-trending {
    display: flex;
    justify-content: center;
    color: #FF1464;
    font-size: 14;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.chart-image {
    width: 60px;
    height: 60px;
}

.load-button {
    color: rgb(0, 0, 0);
    overflow-wrap: break-word;
    word-break: break-word;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    font-family: Programme, sans-serif;
    font-size: 0.875rem;
    line-height: 1;
    text-align: center;
    vertical-align: top;
    user-select: none;
    -webkit-appearance: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-color: rgb(0, 0, 0);
    transition: background-color 0.1s ease 0s, color 0.1s ease 0s;
    border-width: 2px;
    border-style: solid;
    margin: 0px;
    padding: 0.75rem 1.313rem;
    width: 140px;
    justify-content: center;
    margin-top: 40px;
}

.homepage-title {
    margin-top: 50px;
}