.like-buttons {
    display: flex;
    padding-top: 5px;
}

.like-count-positive {
    color: #0EBC27   
}

.like-count-negative {
    color: red;
}

.like-buttons > div {
    margin-right: 7px;
}

.like-buttons > a {
    margin-right: 5px;
}

.fa-thumbs-up:hover {
   color: #0EBC27;
}

.fa-thumbs-down:hover {
    color: red;
}

.far:hover {
    cursor: pointer;
}