.like-buttons {
    display: flex;
    padding-top: 5px;
}

.like-count {
    color: #0EBC27   
}

.like-buttons > div {
    margin-right: 7px;
}

.like-buttons > a {
    margin-right: 5px;
}

.fa-thumps-up:hover  {
   color: #0EBC27
}