.modal-background {
  position: absolute;
  transform: translate(-0%, -0%);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  display: flex;
  justify-content: center;
}


.modal-child {
  /* position: absolute; */
  /* transform: translate(-50%, -50%); */
  position: relative;
  width: 500px;
  background-color: #292929;
  border: 1px solid #444;
  border-radius: 2px;
  top: 10%;

}

.modal-link {
    color: #5ba7c2;
    cursor: pointer;
}

.modal-child .signin-main {
  color: #ffff64;
  text-transform: uppercase;
}

.modal-x {
  position: relative;
  top: 14%;
  left: 95%;
  z-index: 2;
  color: #444;
  font-size: 15px;
  font-weight: 2000;
  cursor: pointer;
}