.navbar-main {
   background-color: #ffff64;
   display: flex;
   align-items: center;
   height: 41px;
   width: 100%;
   position: relative;
   justify-content: flex-end;
}

.session-link{
    text-decoration: none;
    font-size: .75em;
    font-family: Programme, sans-serif;
    padding-top: 0.75rem;
    padding-right: 0.5rem;
    padding-bottom: 0px;
    padding-left: 0.5rem;
}

.navbar-title {
    position: absolute;
    right: 46%;
    text-decoration: none;
    text-shadow: -2px 2px black;
    font-weight: bold;
    color: #ffff64;
    font-size: 20px;
    font-family: sans-serif;
    letter-spacing: 4px;
    
}

.login-options {
    display: flex;
}

#root {
    min-height: 100%;
}

.navbar-menu ul{
    height: 41px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.nav {
    border-right: 1px solid white;
    padding: 0px 36px;
    font-family: sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: white;
}

.nav a {
    color: white;
}
.navbar-menu li:last-of-type {
    border: none;
}

.newjokelink {
    color: white;
}

.logout {
    padding: 0px;
    margin-right: 10px;
    cursor: pointer;
}