.new-joke-page {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: white
}

.new-joke-content {
    margin-top: 25px;
    width: 950px;
    /* position: relative; */
}

.new-joke-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 25px;
    margin-bottom: 10px;
}

.new-joke-header {
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(154,154,154,.35);
}

.new-joke-title {
    font-size: 40px;
    margin-bottom: 15px;
}

.info-required {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.newform-label {
    margin-top: 10px;
    font-size: 12px;
    color: #626262;
    margin-bottom: 5px;
    text-transform: capitalize;
}

textarea {
    min-height: 500px;
    width: 50%
}

.required-text {
    font-size: 12.75px;
}

.input-push, .newform-label {
    padding-left: 15px;
}

.input-push {
    width: 98.5%
}
.newform-input-text {
    background-color: white;
    color: black;
    font-family: sans-serif;
    width: 50%;
}

.new-joke-meta {
    margin-top: 70px;
}

.new-joke-meta {
    padding-top: 70px;
    width: 100%;
    border-bottom: 1px solid rgba(154,154,154,.35);
    font-size: 18px;
    margin: 0px 0px 16px;
    padding-bottom: 5px;
}

.new-joke-button {
    color: #ccc;
    background-color: #262626;
    font-size: 13px;
    margin-right: 10px;
    border: 1px solid #444;
    font: normal 13px/1rem Programme,sans-serif;
    border-radius: 2px;
    padding: 5px 9px;
    margin: 3px 4px 5px 0;
}

.image {
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(154,154,154,.35);
    margin-bottom: 20px;
}

.new-joke-errors {
    color: #FF2D2D;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
}

.nj-errors {
    background-color: #FADCDC;
}